@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0f8ff; /* Light blue background */
  --foreground: #0a0a0a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Geist Sans', Arial, sans-serif;
}
@keyframes blue-glow {
  0% {
    border-color: rgba(0, 255, 255, 1); /* Light cyan */
  }
  10% {
    border-color: rgba(0, 224, 255, 1); /* Lighter blue */
  }
  20% {
    border-color: rgba(0, 191, 255, 1); /* Medium blue */
  }
  30% {
    border-color: rgba(0, 140, 255, 1); /* Darker blue */
   }
  40% {
    border-color: rgba(0, 80, 255, 1); /* Deep blue */
  }
  50% {
    border-color: rgba(0, 0, 255, 1); /* Very deep blue */
  }
  60% {
    border-color: rgba(0, 80, 255, 1); /* Darker blue */
   }
  70% {
    border-color: rgba(0, 140, 255, 1); /* Deep blue */
  }
  80% {
    border-color: rgba(0, 191, 255, 1); /* Very deep blue */
  }
  90%{
    border-color: rgba(0, 224, 255, 1); 
  }
  100%{
    border-color: rgba(0, 255, 255, 1);
  }
}
@keyframes glow-effect {
  0% {
    color: rgba(255, 105, 180, 1); /* Light pink */
  }
  20% {
    color: rgba(255, 20, 147, 1); /* Deep pink */
  }
  40% {
    color: rgba(255, 99, 71, 1);  /* Tomato red */
  }
  60% {
    color: rgba(255, 140, 0, 1);   /* Dark orange */
  }
  80% {
    color: rgba(255, 223, 0, 1);   /* Yellow */
  }
  100% {
    color: rgba(0, 255, 255, 1);   /* Cyan */
  }
}

.name-color-animation {
  animation: glow-effect 5s ease-in-out infinite;
}


